<div id='outer'><div class='conta'>
	{{#if model}}
					<h1>{{model.firstObject.userid.username}}'s Gear</h1>
					{{/if}}
			<div class='item-list'>
				{{#if model}}

{{#each model}}
					{{#if name}}
					<div class='per-item' >
						{{#link-to 'items.item' id}}
						<div class='title'><h3 {{bind-attr class='type'}}>{{{name}}}</h3></div>
						<div class='type'>{{type}}</div>
						
						<img {{bind-attr src='photo'}}>
						<div class='itemDesc'>{{itemDesc}}</div>{{/link-to}}
						<div>Added on {{formatDate created "short"}}{{#if userid.username}} <div class='username'>by {{userid.username}}</div>{{/if}}</div>
						
						</div>
						{{/if}}
{{/each}}
					{{else}}
					<h2 style='color:white;'>No Gear in this Shed Yet! <a href="/items/create">Add Some of Your Stuff.</a></h2>
					{{/if}}

			</div>
</div>
</div>